/public/uploads
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/debugbar/*
/storage/app/public/*
.env
/.phpintel
/vendor